@import '_variables';
@import '_global';

header {
    width: 100%;
    
    .logo {
        margin-left: -20px;
        
        img, span {
            display: inline-block;
            vertical-align: middle;
        }
        
        span {
            font-weight: bold;
            letter-spacing: -1px;
            margin-left: -15px;
        }
    }
}

main {
    width: 100%;
    
    p {
        opacity: 0.7;
    }
    
    h1, h2 {
        line-height: 1.2;
        margin: 0;
    }
    
    .hero {
        p {
            margin: 30px 0;
        }
        
        .schema {
            background: url("../images/bg-schema.svg") no-repeat center center;
            background-size: 100% auto;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            
            width: 28.4375em;
            height: 25.625em;
            
            .elem {
                @include border-radius();
                background: red;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                
                i.small {
                    font-size: 1.2em;
                }
                
                i.big {
                    font-size: 2em;
                }
                
                &-1, &-4, &-6 {
                    background: $yellow;
                }
                
                &-2, &-8 {
                    background: $blue-light;
                }
                
                &-3, &-7 {
                    background: $green;
                }
                
                &-1 {
                    width: 4.6875em;
                    height: 4.6875em;
                    top: 0;
                    left: 3.625em;
                }
                
                &-2 {
                    width: 3.25em;
                    height: 3.25em;
                    top: -1.5625em;
                    right: 9.375em;
                }
            }
        }
    }
}

@media screen and (max-width: $max-breakpoint-mobile) {
    @import 'front-xs';
}

@media screen and (min-width: $min-breakpoint-tablet) {
    @import 'front-sm';
}

@media screen and (min-width: $min-breakpoint-mobile){
    @import 'front-md';
}

@media screen and (min-width: $min-breakpoint-desktop){
    @import 'front-lg';
}
