# NPM
node_modules
.pnpm-debug.log 

# SOLIDITY
solidity/artifacts

# APP
app/build

# WORDPRESS
wordpress/kredeum-nfts/lib/js
vendor

# CYPRESS
screenshots
videos

# ENV
**/*.env

# JAVASCRIPT
**/*.map

# MACOS
.DS_Store

# LOCAL HISTORY
.lh
