# NPM
node_modules
.pnpm-debug.log
.favorites.json

# SOLIDITY
solidity/artifacts
solidity/types
solidity/docs

# SVELTE
/public/build/

# WORDPRESS
wordpress/kredeum-nfts/lib
vendor

# CYPRESS
screenshots
videos

# ENV
**/*.env

# JAVASCRIPT
**/*.map

# TYPESCRIPT
typechain

# MACOS
.DS_Store

# IGNORE ASSETS GULP
design-dapp/assets/*
website/assets/*
