# NPM
node_modules

# SOLIDITY
solidity/artifacts
solidity/abis
solidity/cache

# APP
app/build/

# ENV
**/*.env

# JAVASCRIPT
**/*.map

# MACOS
.DS_Store

# OPEN ZEPPELIN
@openzeppelin

# WORDPRESS
wordpress/kredeum-nfts/lib/js
wordpress/vendor