//
// utilitaires
//
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.refresh {
  animation: rotate 1s infinite linear;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.relative {
  position: relative;
}

.txtright {
  text-align: right;
}

.txtleft {
  text-align: left;
}

.txtcenter {
  text-align: center;
}

.aligncenter {
  align-items: center;
}

.alignbottom {
  align-items: end;
}

.fa-left,
.fa-right {
  display: inline-block;
  vertical-align: baseline;
}

.fa-left {
  margin-right: 8px;
}

.fa-right {
  margin-left: 8px;
}

.c-green {
  color: $green;
}

.c-red {
  color: red;
}

.mt-20 {
  margin-top: 20px;
}

.label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  color: rgba($couleur1, 0.4);
  display: inline-block;
  margin-bottom: 10px;
  letter-spacing: 1px;
  &-big {
    font-size: 12px;
  }
}

.info-button {
  display: inline-block;
  vertical-align: baseline;
  color: rgba($couleur1, 0.4);
  transition: all 300ms ease-in-out;
  i {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
  }
  &:hover {
    color: $couleur1;
  }
}

select {
  appearance: none;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 15px;
  padding-left: 25px;
  background: $white url("../images/chevron.svg") no-repeat right 20px center;
  color: $couleur1;
  border-radius: 360px;
  cursor: pointer;
  height: 50px;
  &.custom {
    color: $grey-blue;
    border: 1px solid rgba($grey-blue, 0.3);
    @include border-radius();
    width: 100%;
    background-position: 95% 50%;
    padding: 20px 50px 20px 15px;
    height: auto;
  }
  &:focus {
    outline: none;
  }
  &::-ms-expand {
    display: none;
  }
}

.return {
  .link {
    text-decoration: none;
  }
}

.link {
  cursor: pointer;
  color: $couleur1;
  transition: all 300ms ease-in-out;
  &:hover {
    color: $green;
  }
}

.btn {
  text-decoration: none;
  @include base;
  padding: 15px 25px;
  font-size: 15px;
  border-radius: 360px;
  border: none;
  cursor: pointer;
  &-default {
    background: $couleur1;
    color: $white;
    &:hover {
      background: lighten($couleur1, 10);
    }
  }
  &-outline {
    border: 1px solid $green;
    color: $green;

    &:hover {
      background: $green;
      color: $white;
    }
  }
  &-second {
    background: rgba($couleur1, 0.2);
    color: $couleur1;
    &:hover {
      background: rgba($couleur1, 0.3);
    }
  }
  &-light {
    background: $white;
    color: $couleur1;
    &:hover {
      background-color: $couleur1;
      color: $white;
    }
  }
  &-small {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 15px;
    font-weight: bold;
  }
  &-mint {
    color: $green;
    background: rgba($green, 0.1);
    &:hover {
      background: rgba($green, 0.2);
    }
  }
  &-sell,
  &-buy {
    color: $white;
    background: $green;
    &:hover {
      background: darken($green, 10);
    }
  }
  & > i {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
    & + span {
      margin-left: 8px;
    }
  }
  &-metamask {
    background: $white url("../images/icon-metamask.svg") no-repeat 25px center;
    padding-left: 60px;
  }
}

.card-krd {
  background: $white;
  padding: 20px;
  @include border-radius();
}

.section {
  margin-bottom: 30px;
}

.box-file {
  background: rgba($grey-blue, 0.1);
  color: $grey-blue;
  width: 100%;
  padding: 15px;
  @include border-radius();
}

[type="file"] {
  width: 100%;
  font-size: 16px;
  color: $grey-blue;
}

[type="file"]::file-selector-button {
  text-decoration: none;
  @include base;
  padding: 11px 25px;
  font-size: 15px;
  border-radius: 360px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  background: $couleur1;
  color: $white;
  &:hover {
    background: lighten($couleur1, 10);
  }
}

.form-field {
  input[type="text"] {
    width: 100%;
    background: rgba($grey-blue, 0.1);
    color: $grey-blue;
    width: 100%;
    padding: 20px 15px;
    @include border-radius();
    border: 0;
  }
}

.box-field {
  display: none !important;
}

.box-fields {
  .field {
    margin: 0 4px 8px 0;
    cursor: pointer;
    background: rgba($grey-blue, 0.1);
    color: $grey-blue;
    i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  .box-field:checked + label {
    background: $couleur1;
    color: $white;
  }
}

.tag,
.field {
  @include border-radius;
  @include base;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 15px;
  font-weight: bold;
}

.tag {
  &-marketplace {
    color: $grey-blue;
    border: 1px solid rgba($grey-blue, 0.3);
  }
}

.table {
  width: 100%;
  position: relative;
}

.select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  .select {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .select-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    color: $couleur1;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    background: $white url("../images/chevron.svg") no-repeat right 20px center;
    border-radius: 360px;
    font-size: 15px;
    span {
      font-size: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0;
    background: $white;
    transition: all 0.5s;
    pointer-events: none;
    z-index: 2;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: none;
    max-height: 300px;
    overflow-y: auto;
    .custom-option {
      position: relative;
      display: block;
      font-size: 15px;
      font-weight: 300;
      color: $couleur1;
      cursor: pointer;
      transition: all 0.5s;
      padding: 8px 0 8px;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
      &:hover {
        opacity: 0.7;
      }
      &.selected {
        font-weight: bold;
      }
    }
  }
  .select.open {
    .custom-options {
      pointer-events: all;
      top: calc(100% + 10px);
      display: block;
    }
  }
}

.modal-window {
  .select-trigger {
    border: 1px solid rgba($grey-blue, 0.3);
  }
}

$spaceamounts: (10, 20, 30, 40, 50);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.overflow-ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.a-simul-cursor {
  cursor: pointer;
}

.kre-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
