@import "_variables";
@import "_global";

#kredeum-app.wordpress {
  .nav-krd {
    display: none;
  }

  header {
    padding: 0;

    h1 {
      background: url("../images/logo-kredeum-bl.svg") no-repeat left center;
      padding: 10px 0 10px 50px;
      background-size: 40px auto;
    }
  }
}

.nav-krd {
  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 40px;

    li:not(:last-child) {
      margin-bottom: 30px;
    }

    li {
      color: $white;

      a {
        color: rgba($white, 0.4);
        display: block;
      }

      &.active {
        a {
          color: $white;
        }
      }

      i {
        font-size: 20px;
      }
    }
  }

  .discord-link {
    position: absolute;
    color: rgba($white, 0.4);

    .icon-discord {
      background: url("../images/icon-discord.svg") no-repeat center center;
      display: block;
      width: 30px;
      height: 30px;
      background-size: 100% auto;
    }
  }
}

.media {
  @include border-radius;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;

  }
}

.main-krd {
  width: 100%;

  .content {
    h1 {
      margin: 0 0 30px 0;
      font-size: 22px;
      font-weight: bold;
    }

    header {
      margin-bottom: 50px;

      h1 + .btn {
        position: absolute;
        right: 0;
        top: 0;
      }

      input[type="text"] {
        width: 100%;
        border: 0;
        outline: 0;
        font-size: 15px;
        padding-left: 25px;
        background: $white;
        color: $couleur1;
        border-radius: 360px;
        height: 50px;
      }

      .select-network {
        .custom-options {
          .custom-option {
            padding: 13px 0 13px 35px;
          }
        }

        .select-trigger {
          span {
            padding-left: 35px;
          }
        }

        $names: "matic", "mainnet", "bsc", "fantom", "avalanche", "xdai", "arbitrum";

        @each $name in $names {
          [data-value="#{$name}"],
          .#{$name} {
            background: url("../images/icon-#{$name}.png") no-repeat left center;
          }
        }

        .custom-option,
        .select-trigger span {
          background-size: 25px;
        }
      }

      .clear {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background: $white;
        border: 0 none;
        cursor: pointer;
      }

      .label {
        display: block;
      }
    }

    h2 {
      font-size: 18px;
    }

    .table {
      overflow: hidden;

      .table-row {
        transition: all 300ms ease-in-out;
      }

      .table-col {
        .label {
          margin-bottom: 0;
        }
      }

      .media {
        align-items: center;
        justify-content: center;

        &-small {
          opacity: 0;
          visibility: hidden;
          width: 0;
          transition: opacity 300ms ease-in-out;
          height: 40px;
        }

        i {
          color: $white;
          display: inline-block;
        }

        &-text,
        &-video {
          background: lightgrey;
          text-align: center;
          line-height: 40px;
        }

        &-song {
          background: #f58755;
          text-align: center;
          line-height: 40px;
        }

        img,
        video {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        & + strong {
          display: inline-block;
          vertical-align: middle;
        }
      }

      .more-button {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px solid rgba($couleur1, 0.1);
        text-align: center;
        @include border-radius;
        cursor: pointer;
        display: inline-block;

        i {
          color: $grey-blue;
          transition: all 300ms ease-in-out;
          transform: rotate(-180deg);
        }
      }

      .table-drop {
        position: relative;
      }

      .detail {
        position: absolute;
        left: 0;
        right: 0;
        opacity: 1;
        visibility: visible;
        transition: all 100ms ease-in-out;
      }

      .closed {
        .more-button {
          i {
            transform: rotate(0deg);
          }
        }

        .media-small {
          opacity: 1;
          visibility: visible;
          width: 40px;
          margin-right: 10px;
          transition: opacity 300ms ease-in-out;
        }

        .detail {
          overflow: hidden;
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    .grid-krd {
      .col {
        margin-bottom: 30px;
      }
    }

    .grid-card-krd {
      background: $white;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 10px;
      @include border-radius();

      .media {
        padding-top: 100%;
        position: relative;

        img, video {
          transition: all 300ms ease;
          position: absolute;
          top: 0;
          left: 0;
          width:100%;
        }
      }

      .caption {
        padding: 10px;

        h3 {
          font-size: 16px;
          margin: 5px 0 15px 0;
        }
      }
    }

    .grid-detail-krd {
      .media {
        position: relative;

        a {
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($couleur1, 0.7);
            opacity: 0;
            transition: all 300ms ease-in-out;
          }

          .fas {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            color: $white;
            font-size: 20px;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 300ms ease-in-out;
          }

          &:hover {
            &::after,
            .fas {
              opacity: 1;
            }
          }
        }
      }

      .col:first-child {
        margin-bottom: 30px;
      }

      .grid-buttons {
        .btn:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

.steps {
  list-style: none;
  padding: 0;
  margin: 40px 0 0 0;
  position: relative;
  border: 1px solid rgba($couleur1, 0.1);
  @include border-radius();

  &.process {
    li {
      padding: 15px 15px 15px 40px;

      &::before {
        content: "";
        border: 1px solid rgba($couleur1, 0.1);
        box-shadow: 0 0 1px 2px $white;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background: $white;
        border-radius: 16px;
      }

      &.complete {
        &::after {
          content: "";
          position: absolute;
          left: 19px;
          top: 50%;
          background: $green;
          width: 8px;
          height: 8px;
          border-radius: 8px;
          transform: translateY(-50%);
        }
      }
    }
  }

  li {
    position: relative;
    padding: 15px;

    &:not(:last-child) {
      border-bottom: 1px solid rgba($couleur1, 0.1);
    }

    .flex {
      .label {
        font-size: 12px;
        margin-bottom: 0;
      }

      & + .flex {
        .t-light {
          opacity: 0.5;
        }
      }
    }
  }
}

// Modal
.modal-window {
  position: fixed;
  background-color: rgba($couleur1, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;

  &:target,
  &.target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  & > div {
    max-width: 800px;
    @include border-radius();
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    overflow: hidden;
  }

  .modal-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .titre {
    font-weight: bold;
    margin-bottom: 30px;
  }

  video {
    width: 100%;
  }
}

.modal-close,
.modal-return {
  color: rgba($couleur1, 0.4);
  font-size: 20px;
  position: absolute;
  top: 20px;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.modal-close {
  right: 20px;
}

@media screen and (max-width: $max-breakpoint-mobile) {
  @import "front-xs";
}

@media screen and (min-width: $min-breakpoint-tablet) {
  @import "front-sm";
}

@media screen and (min-width: $min-breakpoint-mobile) {
  @import "front-md";
}

@media screen and (min-width: $min-breakpoint-desktop) {
  @import "front-lg";
}
