version: "3.9"

services:
  nginx:
    image: nginx:alpine
    ports:
      - 80:80
    volumes:
      - ${DATA_DIR}/nginx/templates:/etc/nginx/templates
      - ${DATA_DIR}/nginx/app:/usr/share/nginx/html/app
      - ${DATA_DIR}/nginx/nginx.conf:/usr/share/nginx/nginx.conf
