@import "_variables";

.steps {
  li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .flex {
      flex: 0 0 auto;
      width: 50%;

      & + .flex {
        text-align: right;
      }
    }
  }
}

// Modal
.modal-window {
  & > div {
    max-height: calc(100% - 50px);
    width: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 600px;
    // min-height: 380px;
    min-width: 700px;
  }

  .modal-content {
    max-height: calc(100vh - 50px);
    min-height: 500px;
    // min-height: 380px;
    padding: 60px;
  }

  .modal-body {
    // -webkit-overflow-scrolling: touch;
    // overflow-y: auto;
    padding: 0 20px;
  }

  .or {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }
}

// Mint Modal
.mint-modal-window {
  & > div {
    max-height: calc(100vh - 50px);
    width: 85vw;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 600px;
    min-width: 700px;
  }

  .mint-modal-content {
    max-height: calc(100vh - 50px);
    min-height: 500px;
    padding: 60px;
  }

  .mint-modal-body {
    overflow-y: auto;
    padding: 0 20px;
  }
}
