@import 'libs/normalize';
@import 'core/_mixins';
@import 'core/_grille';
@import 'core/_grille_responsive';

@import '_fonts';
@import '_class';

html {
    box-sizing: border-box;
    font-size: $font-size-root;
    -ms-overflow-style: scrollbar;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

html *,
html *::before,
html *::after {
    box-sizing: border-box;
}

* {
    outline: none;
}

@at-root {
    @-ms-viewport { width: device-width; }
}

body {
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $color-body;
    background-color:$bg-color-body;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
}
