@import '_variables';
@import '_global';

nav {
    flex: 0 0 auto;
    width: 130px;
    background: $couleur1 url("../images/bg-dapp.svg") no-repeat center top;
    background-size: auto 80%;
    height: 100vh;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;


    .logo {
        border-bottom: 1px solid rgba($white, 0.15);
        padding: 10px 0;

        img {
            display: block;
            margin: 0 auto;
        }
    }
}

main {
    flex: 1 0 0%;
    padding: 40px;
    background: url("../images/bg-dapp.svg") no-repeat center -200px;
    background-size: 100% auto;
    background-attachment: fixed;

    #search-top {
        width: 100%;
        position: relative;
        margin-bottom: 40px;

        input[type="text"] {
            height: 65px;
            @include border-radius;
            border: 0 none;
            padding: 0 15px;
            width: 100%;
            font-size: 20px;
        }

        input[type="submit"] {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .content {
        h1 {
            margin: 0;
            font-size: 22px;
            font-weight: bold;
        }

        header {
            margin-bottom: 30px;
        }

        .table {
            margin-top: -10px;

            .table-head {
                .label {
                    margin-bottom: 10px;
                }
            }

            .light {
                color: rgba($couleur1, 0.6);
            }

            .media {
                width: 40px;
                height: 40px;
                @include border-radius;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: $white;
                    display: inline-block;
                }

                &-video {
                    background: #CE2828;
                }

                &-song {
                    background: #F58755;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .more {
                width: 40px;
                height: 40px;
                line-height: 40px;
                border: 1px solid rgba($couleur1, 0.1);
                text-align: center;
                @include border-radius;
                cursor: pointer;

                i {
                    color: $grey-blue;
                }
            }
        }
    }
}

footer {

}


@media screen and (max-width: $max-breakpoint-mobile) {
    @import 'front-xs';
}

@media screen and (min-width: $min-breakpoint-tablet) {
    @import 'front-sm';
}

@media screen and (min-width: $min-breakpoint-mobile){
    @import 'front-md';
}

@media screen and (min-width: $min-breakpoint-desktop){
    @import 'front-lg';
}
