name: Check sources
on: pull_request

jobs:
  check:
    name: Check sources
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@master

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: ~/wordpress/vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Cache pnpm modules
        uses: actions/cache@v2
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-

      - name: Composer Install
        run: composer install --prefer-dist --no-progress

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.3.0
          run_install: true

      - name: Check SmartContract
        run: npm run smart-check

      - name: Check Dapp
        run: npm run dapp-check

      - name: Check WP Plugin
        run: npm run wp-check

      - name: Check Subgraph
        run: npm run sub-check
